<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput text="text" ngModel name="title" placeholder="Post title" required #title="ngModel"/>
            <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="6" ngModel name="content" placeholder="Post content" required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
</mat-card>