<div class="container">
    <form>
        <div class="form-group">
            <textarea [(ngModel)]="newEnteredValue" class="form-control" name="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-light" (click)="onAddedPost()">Save</button>
    </form>
    {{newPost}}
</div>
    